MONGODB_URI=mongodb://localhost:27017/bengali-news-portal
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000   
CLOUDINARY_CLOUD_NAME=dpiiildn0
CLOUDINARY_API_KEY=123297164224724
CLOUDINARY_API_SECRET=6zgO8jYdTj9Aig3xvs7B_1ktHSk

